.App {
  text-align: center;
}

.content {
  margin: 1em
}

.centerSignin {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
}

.container {
  text-align: center;
}